
body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

 
#firstheader{
    border: 2px solid chartreuse;
}

.cardholder{
    border: 2px solid chartreuse;
    /* margin-left: 200px; */
    /* height: 200px; */
    width: 340px;
    padding: 15px;
    margin: 10px 0px;
    /* height: 210px; */
    vertical-align: middle;
    text-align: left;

    display: inline-block;
    border-radius: 8px;
}

.firstcard{
    /* border: 2px solid tomato; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* border-top-right-radius: 8px; */
    /* border-bottom-left-radius: 8px; */
}

.parentdiv{
     /* border:2px solid purple;  */
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.custom-roundedshape{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid chartreuse;
    text-align: center;
    padding: 5px;
    display: inline-block;
}


.custom-icons{
color: chartreuse;
font-size: 24px;
display: inline-block;
margin-top: 3px;
}

h2{
    display: inline-block;
    font-size: 25px;
}

.header-containers{
    /* border: 2px solid black; */
    text-align: left;
}

.daisy{
     /* border-width: 5px; */
    /* border-style: solid; */
    /* border-color: red;  */
    /* border: 5px solid red */

    border: 2px solid red;
    
    /* border-top:5px solid red; */
    /* border-right: 10px solid blue; */
    /* border-bottom: 5px solid magenta; */
    /* border-left: 5px solid greenyellow; */
    
    /* padding-bottom: 20px; */
    /* padding-left: 50px; */
    /* padding-right: 10px; */
    /* padding-top: 20px; */
    padding: 50px 50px 50px 50px;
    /* margin-bottom: 42px; */
    /* margin-left: 30px; */
    /* margin-top: 60px; */
    margin: 30px 20px;

}





















/* body{
    /* background-color: tomato; */

/* #firstheader{
    border: 2px solid chartreuse;
}
.cardholder{
    border: 2px solid chartreuse;
    /* height: 200px; */
    /* width: 300px; */


/* .daisy{
     border-width: 5px;
    border-style: dashed;
    border-color: red; 
    /* border: 5px solid red */


    /* Padding box model property */


    /* body{ */
  /* font-family: "Roboto", sans-serif; */
  /* font-optical-sizing: auto; */































